NODE_ENV=development
SERVICE_PORT=3333
APP_NAME_IN_PROMETHEUS=Onboarding-service
CORRELATION_ID_CREATED_PREFIX=onboarding_service
LOG_LEVEL=verbose
REQUEST_TIMEOUT_MS=30000
SWAGGER_SERVER=

POSITION_SERVICE_URL=
ACCOUNT_SERVICE_URL=
COMPANY_AND_INSTITUTION_SERVICE_URL=
DATA_PLATFORM_API_URL=

# Kafka Playground Cluster
KAFKA_BROKER=
KAFKA_USERNAME=
KAFKA_PASSWORD=


DB_CONNECTION_TYPE=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_AUTH_SOURCE=
DB_QUERY_LOGS=
DB_SSL=
MONGO_CONNECTION_STRING=
